<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>

<meta charset="UTF-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description"
	content="Página informativa hecha con Spring Framework">
<meta name="author" content="Roberto Cesar Ramos Reyes">

<title th:text="${titulo}"></title>

<!-- Bootstrap core CSS -->
<link rel="stylesheet" type="text/css"
	th:href="@{/bootstrap/css/bootstrap.min.css}">

</head>

<body>

	<!-- Navigation -->
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
		<div class="container">
			<a class="navbar-brand" th:href="@{../../index}">La PC y sus partes</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse"
				data-target="#navbarResponsive" aria-controls="navbarResponsive"
				aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarResponsive">
				<ul class="navbar-nav ml-auto">
					<li class="nav-item active"><a class="nav-link" th:href="@{/}">Home
							<span class="sr-only">(current)</span>
					</a></li>
					<li class="nav-item"><a class="nav-link"
						th:href="@{/hardware}">Hardware</a></li>
					<li class="nav-item"><a class="nav-link"
						th:href="@{/software}">Software</a></li>
					<li class="nav-item"><a class="nav-link" th:href="@{/extras}">Extras</a></li>
				</ul>
			</div>
		</div>
	</nav>

	<!-- Page Content -->

	<div class="container">
		<br>
		<div class="row">
			<div class="col-md-12 col-xs-12 text-justify ">
				<h3 class="text-center " th:text="${titulo}"></h3>
				<p class="text-justify">El Software de Aplicación son los programas diseñados para o por los usuarios para facilitar la realización de tareas específicas en la computadora, como pueden ser las aplicaciones ofimáticas (procesador de texto, hoja de cálculo, programa de presentación, sistema de gestión de base de datos...), u otros tipos de software especializados como software médico, software educativo, editores de música, programas de contabilidad, etc.</p>
			</div>
			<br>

		</div>
		<!-- Page Content -->

		<!-- CARDS -->
		<div class="row">
			<div class="card mb-3">
				<div class="row no-gutters">
					<div class="col-md-2 py-3">
						<img th:src="@{/img/software/1.jpg}" style="max-width: 80%"
							class="card-img" alt="...">
					</div>
					<div class="col-md-10">
						<div class="card-body">
							<h5 class="card-title">Microsoft Word</h5>
							<p class="card-text">Microsoft Word es un programa informático orientado al procesamiento de textos. Fue creado por la empresa Microsoft, y viene integrado de manera predeterminada en el paquete ofimático denominado Microsoft Office.</p>
						</div>
					</div>
				</div>
			</div>
			<div class="card mb-3">
				<div class="row no-gutters">
					<div class="col-md-10">
						<div class="card-body">
							<h5 class="card-title">Microsoft Excel</h5>
							<p class="card-text">Microsoft Excel es una hoja de cálculo desarrollada por Microsoft para Windows, macOS, Android e iOS. Cuenta con cálculo, herramientas gráficas, tablas calculares y un lenguaje de programación macro llamado Visual Basic para aplicaciones.</p>
						</div>
					</div>
					<div class="col-md-2 mr-auto py-2" >
						<img th:src="@{/img/software/2.jpg}" style="max-width: 100%"
							class="card-img" alt="...">
					</div>
				</div>
			</div>
			<div class="card mb-3">
				<div class="row no-gutters">
					<div class="col-md-2 py-5">
						<img th:src="@{/img/software/3.jpg}" style="max-width: 100%"
							class="card-img" alt="...">
					</div>
					<div class="col-md-10">
						<div class="card-body">
							<h5 class="card-title">Microsoft Power Point</h5>
							<p class="card-text">Microsoft PowerPoint es un programa de presentación desarrollado por la empresa Microsoft para sistemas operativos Windows, macOS y últimamente para Android y iOS. Viene integrado en el paquete ofimático llamado Microsoft Office como un elemento más, que puede aprovechar las ventajas que le ofrecen los demás componentes del equipo para obtener un resultado óptimo.</p>
						</div>
					</div>
				</div>
			</div>
			<div class="card mb-3">
				<div class="row no-gutters">
					<div class="col-md-10">
						<div class="card-body">
							<h5 class="card-title">Microsoft Publisher</h5>
							<p class="card-text">Microsoft Publisher es la aplicación de autoedición de Microsoft. A menudo es considerado como un programa para principiantes o de «nivel de entrada», que difiere del procesador de textos Microsoft Word en que se hace hincapié en el diseño y la maquetación de las páginas, más que en el proceso y corrección de textos.</p>
						</div>
					</div>
					<div class="col-md-2 py-4">
						<img th:src="@{/img/software/4.jpg}" style="max-width: 80%"
							class="card-img" alt="...">
					</div>
				</div>
			</div>
		</div>

	</div>

<!-- Footer -->
	<footer class="bg-dark">
		<!-- Copyright -->
		<div class="footer-copyright text-center py-3 text-white">
			© 2020 Copyright: <a href="https://www.linkingsonft.com/"
				target="_blank"> Linkingsonft</a>
		</div>
		<!-- Copyright -->
	</footer>
	<!-- Footer -->

	<!-- Bootstrap core JavaScript -->
	<script th:src="@{/jquery/jquery.slim.min.js}"></script>
	<script th:src="@{/bootstrap/js/bootstrap.bundle.min.js}"></script>

</body>

</html>
